/* header.css */
.head__container-outer {
  position: absolute;
  width: 100%;
}
.head__container-inner {
  width: 100%;
  margin: 0 auto;
}

.head__icons {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.head__logo-img {
  width: 100%;
  height: auto;
}

.head__sub-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.head__search {
  display: block;
  min-height: 20px;
  min-width: 20px;
  margin-right: 40px;
  background-repeat: no-repeat;
  background-image: url("../images/icon/search\ 1.svg");
}

.head__cart {
  display: block;
  min-height: 20px;
  min-width: 20px;
  margin-right: 8px;
  background-repeat: no-repeat;
  background-image: url("../images/icon/shopping-cart\ 1.svg");
}

.head__sign-in {
  background-color: var(--color-akana-green);
  color: var(--color-white);
}

.head__sign-up {
  background-color: var(--color-white);
}
