:root {
  --font-family-b: MontserB, sans-serif; /* 700 */
  --font-family-m: MontserM, sans-serif; /* 500 */
  --font-family-r: MontserR, sans-serif; /* 400 */
  --font-family-m: MontserS, sans-serif; /* 600 */

  --color-white: #ffffff;
  --color-akana-green: #156963;
  --color-kq-black: #2c1500;
  --color-black: #000000;
  --color-gray: #333333;
}

body {
  margin: 0;
}
