:root {
  --font-family-b: MontserB, sans-serif; /* 700 */
  --font-family-m: MontserM, sans-serif; /* 500 */
  --font-family-r: MontserR, sans-serif; /* 400 */
  --font-family-m: MontserS, sans-serif; /* 600 */
}
