.motivation {
  padding-top: 80px;
}

.motivation__inner {
  display: flex;
}

.motivation__content-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.motivation__text-title {
  font-family: var(--font-family-b);
  font-size: 40px;
  line-height: 56px;
  color: var(--color-kq-black);
  width: 70%;
  margin-bottom: 16px;
}

.motivation__text-descr {
  width: 70%;
  font-family: var(--font-family-r);
  color: var(--color-kq-black);
  font-size: 16px;
  line-height: 28px;
}

.motivation__text-img > img {
  width: 80%;
}

.motivation__img-area > img {
  width: 100%;
  height: 100%;
}
